@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbfaf6; /* Off White */
  --foreground: #081e13; /* Black 200 */
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* FLUID TYPOGRAPHY ENGINE */
html {
  font-size: 4.26vw; /* Mobile Baseline */
}

@media (min-width: 501px) and (max-width: 1024px) {
  html {
    font-size: 1.56vw; /* Tablet Reset */
  }
}

@media (min-width: 1025px) {
  html {
    font-size: 1.111vw; /* Desktop Scale */
  }
}

@media (min-width: 1441px) {
  html {
    font-size: 16px; /* Cap at 1440px width */
  }
  body {
    max-width: 1440px;
    margin: 0 auto;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
  }
}

/* UTILITIES */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
