.button-core {
  font-size: 1em;
  color: var(--c-green-400);
  border: 1px solid var(--c-green-400);
  height: 50px;
  padding: 0 25px;
  border-radius: 12px;
  align-self: flex-start;
  
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 24px;
  gap: 12px;
  height: 50px;

  /* Primary/Green 400 */
  border: 0.75px solid var(--c-green-400);
  border-radius: 25px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
